<div class="container-fluid" ng-controller="MastersController">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-5  mt--1"><h3 class="h3-responsive">Areas Details</h3></div>
		<div class="col-md-3 col-sm-6 col-xs-7 pull-right">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search" ng-model="search.values">
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-2 col-sm-3 col-xs-3"><button class="btn btn-primary" data-toggle="modal" data-target="#ModalPopup">Add New</button></div>
		<div class="col-md-2 col-xs-4 pull-right">
							<button style='border:none;background:transparent;color:black;' ng-disabled='currentPage == 0' class='glyphicon glyphicon-chevron-left' ng-click='currentPage=currentPage-1'></button>
													  <b>  {{currentPage+1}} / {{numberOfPages()}} </b>
													  <input type='number' min='1' max='{{maxpage}}' ng-change='checkcurrpage(myValue)' style='width:35%' class="hidden-xs" ng-model='myValue'>
														<button style='border:none;background:transparent;color:black' class='glyphicon glyphicon-chevron-right' ng-disabled='currentPage >= areasList.length/pageSize - 1' ng-click='currentPage=currentPage+1'></button>
		</div>
		
			<div class="col-md-2 col-xs-4 pull-right"><select class="form-control" ng-model="pageSize" ng-options="obj.value as obj.name for obj in recordsdisplay">
			<option value="" selected disabled>Record to display</option>
		</select>
		</div>
	</div>
	
	<div class="loader"></div>
	
	<div class="modal fade" id="ModalPopup" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<!-- <h4 class="modal-title">Area Details</h4> -->
				</div>
				<div class="modal-body">
					<form name="areadetails">
						<div class="form-group">
							<label for="name">Name:</label>
							<input type="text" class="form-control" id="name" placeholder="Name" ng-model="areaDetails[0].areaname">
						</div>
						<div class="form-group">
							<label for="description">Description:</label>
							<textarea class="form-control" id="description" placeholder="Description" ng-model="areaDetails[0].description"></textarea>
						</div>
						<div class="form-group">
							<label for="branch">Branch:</label>
							<input type="text" class="form-control" id="branch" uib-typeahead="obj as obj.branchname for obj in branchList" placeholder="Branch" ng-model="areaDetails[0].branchid">
						</div>
						
						<div class="form-group">
							<label for="areacode">Area Code:</label>
							<input type="text" class="form-control" id="areacode" placeholder="Area Code" ng-model="areaDetails[0].areacode">
						</div>
					</form>
				</div>
				<div class="modal-footer mt-5">
					<button type="button" class="btn btn-primary" ng-click="SaveAreaDetails()" data-dismiss="modal">Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
		<div class="row mt-1">
		<div class="table-responsive" ng-init="ListAreas()">
			<table class="table table-bordered table-striped">
				<thead>
					<th>#</th>
					<th>Area</th>
					<th>Branch</th>
					<th>Description</th>
					<th>Area Code</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr ng-repeat="data in areasList | filter:search.values | startFrom:currentPage*pageSize | limitTo:pageSize">
						<td>{{$index + 1}}</td>
						<td>{{data.areaname}}</td>
						<td>{{data.branchid.branchname}}</td>
						<td>{{data.description}}</td>
						<td>{{data.areacode}}</td>
						<td class="text-center"><button class="btn btn-warning" ng-click="getAreaDetails(data._id)" data-toggle="modal" data-target="#ModalPopup">Edit</button> | <button class="btn btn-danger" ng-click="DeleteArea(data._id)">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
</div>