

<div class="container-fluid" ng-controller="OfficeController">
	<div class="container">
		<div class="row">
					<form name="emiCalculator" ng-submit="submit()" >
							<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label for="midname">Loan Amount:</label>
										<input type="number" class="form-control" required ng-model="entry.amount" placeholder="e.g., 1000000">
									</div>
                                    </div>
									
									<div class="col-md-2 col-sm-6 col-xs-12">
									<div class="form-group">
										<label for="midname">Loan Tenure:</label>
										<input type="number" class="form-control" required ng-model="entry.tenure" placeholder="Loan Tenure">
									</div>
                                    </div>
									
									<div class="col-md-2 col-sm-6 col-xs-12">
									<div class="form-group">
										<label for="midname">Tenure Type:</label>
										<select class="form-control" ng-model="entry.tenuretype" ng-options="obj for obj in ['Days','Months']">
											<option value="" selected disabled>Select Type</option>
										</select>
									</div>
                                    </div>
									
									<div class="col-md-2 col-sm-6 col-xs-12">
									<div class="form-group">
										<label for="midname">Interest Rate:</label>
										<input type="number" step="any" required class="form-control" ng-model="entry.interest" placeholder="e.g., 10.25">
									</div>
                                    </div>
									
									<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="form-group" style="margin-top:1.7em;" >
										 <button type="submit"  class="btn btn-primary" >Calculate</button>
										<button type="button" class="btn btn-default" onclick="location.reload();">Clear</button>
									</div>
                                    </div>
							</div>
						</div>
						</form>
					<hr>
					
					 <div class="row">
									 <div class="col-md-6">
                <table id="emiTable" class="table table-striped"  style="display: none;">
                    <thead>
                        <tr>
                            <td colspan="3"><span class="pull-left">Principle Amount: {{entry.amount | number:2}}</span><span class="pull-right">Total Interest: {{inter | number:2}}</span></td>
                        </tr>

						<tr>
                            <td>{{entry.tenuretype}}</td>
                            <td>EMI Payment</td>
                            <td>Balance</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="month in months">
                            <td>{{month.sno}}</td>
                            <td>{{month.emi | number:2}}</td>
                            <td>{{month.balance |number:2}}</td>
                        </tr >
                    </tbody>
                </table>
            </div>
			
			<div class="col-md-6">
               <div id="chartdiv" style="width: 100%;height: 500px;"></div>
            </div>
		</div>
		</div>
	</div>
</div>
