<style>
	#mainMenu
	{
	   visibility : hidden !important;
	}
</style>

 <div class="container">
        
		<div class="row">
			<div class="col s12">
						<!-- <div class="col s4 left-align valign-wrapper"><img src="../imgs/chef.png"  class="responsive-img"/></div> -->
						 <div class="row">
							<form class="col s12 mt-2" ng-submit="authUser()">
							  <div class="row">
								<div class="input-field col s12">
								  <i class="material-icons prefix">phone</i>
								  <input id="icon_prefix" type="tel" class="validate" ng-model="userDetails.mobile">
								  <label for="icon_prefix">Mobile No</label>
								</div>
								<div class="input-field col s12">
								  <i class="material-icons prefix">lock</i>
								  <input id="password" type="password" class="validate" ng-model="userDetails.password">
								  <label for="password">Password</label>
								 
								</div>
								
								<div class="input-field col s6 text-left ng-mt-3" ng-click="showHidePassword('password')">
								  <i class="material-icons prefix" id="togglcls">visibility</i>
								  <label>Show Password</label>
								</div>
								
								<div class="input-field col s12 mt-4  text-center">
									<button type="submit" class="waves-effect waves-light btn btn-large">Sign In</button>
								</div>
								
								<div class="row">
								

									<div class="col s6 left-align  mt-2"><a href="#!NewUser">New User? Register</a></div>
									<div class="col s6 right-align  mt-2"><a href="#">Forgot Password?</a></div>
								</div>
							  </div>
							</form>
						  </div>
			</div>
		</div>
		
		
		
		
		
 </div>