<script>
function readURL(input) {
        if (input.files && input.files[0]) {
		angular.element(document.getElementById('memberform')).scope().PassFileValue(input.files);
        }
    }
</script>
<div class="container" id="memberform" ng-controller="MembersController" >


<form name="memdetails" ng-init="GetMembersDetails()">
	<div class="col-md-12 col-xs-12"><legend>Basic Details<h4 class="pull-right text-danger">{{errormsg}}</h4></span></legend></div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="firstname">First Name:</label>
			<input type="text" class="form-control" id="firstname" placeholder="First Name" ng-model="membersDetails[0].firstname">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="midname">Middle Name:</label>
			<input type="text" class="form-control" id="midname" placeholder="Middle Name" ng-model="membersDetails[0].midname">
		</div>
	</div>
	
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="lastname">Last Name:</label>
			<input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="membersDetails[0].lastname">
		</div>
	</div>
	
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="gender">Gender:</label>
			<select class="form-control" id="gender" ng-model="membersDetails[0].gander" ng-options="obj for obj in ['Male','Female','Other']">
				<option value="" selected disabled >Gender</option>
			</select>
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="dob">DOB:</label>
			<input type="date" class="form-control" id="dob"  ng-model="membersDetails[0].dob">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="mobile1">Mobile No.:</label>
			<input type="text" class="form-control" id="mobile1" placeholder="Mobile No."  ng-model="membersDetails[0].contactdetails.mobile1" ng-blur="VerifyrequiredFieldsInMembers(membersDetails[0].contactdetails.mobile1,'Mobile')">
		</div>
	</div>
	
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="mobile2">Alt. Mobile No.:</label>
			<input type="text" class="form-control" id="mobile2"  placeholder="Alt. Mobile No."  ng-model="membersDetails[0].contactdetails.mobile2">
		</div>
	</div>
	
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email"  placeholder="Email" ng-model="membersDetails[0].contactdetails.email" ng-blur="VerifyrequiredFieldsInMembers(membersDetails[0].contactdetails.email,'Email')">
		</div>
	</div>
	<div class="col-md-12 col-xs-12"><legend>Address Details</legend></div>
	<div class="col-md-4 col-xs-12">
		<div class="form-group">
			<label for="adln1">Line 1:</label>
			<input type="text" class="form-control" id="adln1" placeholder="Line 1" ng-model="membersDetails[0].address.line1">
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="form-group">
			<label for="adln2">Line 2:</label>
			<input type="text" class="form-control" id="adln2" placeholder="Line 2" ng-model="membersDetails[0].address.line2">
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="form-group">
			<label for="adln3">Line 3:</label>
			<input type="text" class="form-control" id="adln3" placeholder="Line 3" ng-model="membersDetails[0].address.line3">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="city">City:</label>
			<input type="text" class="form-control" id="city" placeholder="City" ng-model="membersDetails[0].address.city">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="state">State:</label>
			<input type="text" class="form-control" id="state" placeholder="State" ng-model="membersDetails[0].address.state">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="zip">Pincode:</label>
			<input type="text" class="form-control" id="zip" placeholder="Pincode" ng-model="membersDetails[0].address.zip">
		</div>
	</div>
	
	<div class="col-md-12 col-xs-12"><legend>Alternate Address Details</legend></div>
	
	<div class="col-md-4 col-xs-12">
		<div class="form-group">
			<label for="adln1">Line 1:</label>
			<input type="text" class="form-control" id="adln1" placeholder="Line 1" ng-model="membersDetails[0].altaddress.line1">
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="form-group">
			<label for="adln2">Line 2:</label>
			<input type="text" class="form-control" id="adln2" placeholder="Line 2" ng-model="membersDetails[0].altaddress.line2">
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="form-group">
			<label for="adln3">Line 3:</label>
			<input type="text" class="form-control" id="adln3" placeholder="Line 3" ng-model="membersDetails[0].altaddress.line3">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="city">City:</label>
			<input type="text" class="form-control" id="city" placeholder="City" ng-model="membersDetails[0].altaddress.city">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="state">State:</label>
			<input type="text" class="form-control" id="state" placeholder="State" ng-model="membersDetails[0].altaddress.state">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="zip">Pincode:</label>
			<input type="text" class="form-control" id="zip" placeholder="Pincode" ng-model="membersDetails[0].altaddress.zip">
		</div>
	</div>
	
		<div class="col-md-12 col-xs-12"><legend>Document Details<h4 class="pull-right text-danger">{{errormsg}}</h4></span></legend></div>
		
		<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="aadhaar">Aadhaar card No.:</label>
			<input type="text" class="form-control" id="aadhaar" placeholder="Aadhaar card No." ng-model="membersDetails[0].documentsdetails.aadhaar" ng-blur="VerifyrequiredFieldsInMembers(membersDetails[0].documentsdetails.aadhaar,'Aadhaar card No')">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="pan">Pan No.:</label>
			<input type="text" class="form-control" id="pan" placeholder="Pan No." ng-model="membersDetails[0].documentsdetails.pan" ng-blur="VerifyrequiredFieldsInMembers(membersDetails[0].documentsdetails.pan,'Pan No')">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="photo">Photo:</label>
			<button class="button btn btn-default" id="memberpic" type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
					ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
					ngf-resize="{width: 100, height: 100}" ng-change="PassFileValue()">Choose file</button>
		</div>
	</div>
	
	<div class="col-md-3 col-xs-12">
		<div class="row">
				 <img id="imgpanel" src="uploads/{{membersDetails[0].documentsdetails.pic}}"  height="200" width="150" />
				<button class="imgbtn" ng-click="clear()">Clear</button>
		</div>
	</div>
	
		
		
	
	<div class="col-md-12 col-xs-12"><legend>Account Details</legend></div>
	
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="referred">Referred By:</label>
			<input type="text" class="form-control" id="referred" placeholder="Referred By" ng-model="membersDetails[0].refredby">
		</div>
	</div>
	<div ng-controller="MastersController" >
	<div class="col-md-3 col-xs-12">
		<div class="form-group" ng-init="ListBranchs()">
			<label for="branch">Branch:</label>
			<input type="text" class="form-control" id="branch" placeholder="Branch" ng-model="membersDetails[0].branch" uib-typeahead="obj as obj.branchname for obj in branchList" typeahead-on-select="ListAreasOnBranch($item._id)">
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="area">Area:</label>
			<input type="text" class="form-control" id="area" placeholder="Area" ng-model="membersDetails[0].areaid" uib-typeahead="obj as obj.areaname for obj in ListOfAreas" typeahead-on-select="ListGroupsOnArea($item._id)">
		</div>
	</div>
	
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="group">Group:</label>
			<input type="text" class="form-control" id="group" placeholder="Group" ng-model="membersDetails[0].group" uib-typeahead="obj as obj.groupname for obj in ListOfGroups" >
		</div>
	</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="depositeamt">Deposit Amount:</label>
			<input type="text" class="form-control" id="depositeamt" placeholder="Deposit Amount" ng-model="membersDetails[0].depositeamount">
		</div>
	</div>
	
	<div class="col-md-3 col-xs-12">
		<div class="form-group">
			<label for="strtdate">Starting Date:</label>
			<input type="date" class="form-control" id="strtdate"  ng-model="membersDetails[0].startingdate">
		</div>
	</div>
	
	
  <div class="col-ms-12 col-xs-12 text-center">
	
	<br>
	<br>
	<button class="btn btn-warning" ng-click="RedirectToForm('/MembersDetails')">Cancel</button>&nbsp;&nbsp;<button id="sbmt" class="btn btn-primary" ng-click="SaveMembersDetails()">Submit</button>
	<br>
	<br>
	</div>
	
</form>
</div>